=render 'shared/menu_right'
=render 'shared/menu_left'
=render 'shared/menu_bottom'

#heatmap-example-2.cdv-heatmap.chess-board




%script
  d3.json('https://ebemunk.github.io/chess-dataviz/data/wrc.json', function(err, data) {var movePaths = new ChessDataViz.MovePaths('#movepaths', null, data.moves);});